
*{
  margin: 0;
  padding: 0;
}
html {
  background: url(https://pickyournextadventure.com/image/74349-full_free-merry-christmas-eve-tree-images-pictures-photos-graphics.jpg) no-repeat center center fixed; 
  background-size: cover;
}
html, body {
  color:#d69b3c; 
  font-family: 'Ranchers', cursive;
  padding: 2em;
  }
img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 5em;
  width: 10em;
}
img:hover
{
  box-shadow: 1px 1px 1px grey;
}
h2 {
  text-align: center;
}
.countdown {
    top:2em;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    display: flex;
  }

.countdown span {
  padding: 1em;
  margin: 0.5 em;
  font-size: 0.8rem;
}
#gameZone{
  z-index: 10;
  position: relative;
  top:9em;
  text-align: center;
}
/* #myBtn {
  margin: 0.5em;
  border-radius: 50% ;
  width: 10em;
  height: 5em;
} */
#myBtn{
  margin: 1em;
  border-radius: 50%;
  background-color:rgb(210, 230, 173);
  padding:1.2em 1.4em;
}
#snow {
    background: none;
    z-index: 1;
    background-image:

    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake1.png'), 
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake2.png'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake3.png');

    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    animation: snow 10s linear infinite;
  }
@keyframes snow {
   0% {
  background-position: 0px 0px, 0px 0px, 0px 0px;
  }
   50% {
  background-position: 500px 500px, 100px 200px, -100px 150px;
  }
   100% {
  background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
/* count down */
/* #newYear{
position: absolute;
top: 3%;
left: 50%;
transform: translateX(-50%);
border-bottom: 2px solid;
font-size: 22px;
padding: 10px;
border-top: 2px solid;
} */
